################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChatServer/bin
/ChatServer/.vs
/ChatServer/obj
/ChatServer/Properties
